form
    width: 100%
    display: flex
    flex-direction: column
    max-width: 500px
    fieldset
        padding-top: $spacer-sm
        border: 0
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        label
            width: 100px
        input
            flex: 3
            height: 2rem
            font-size: $font-size-sm
            padding: $spacer-tiny
            background-color: $color-accent-light
            outline: 0
            border: 0
            border-radius: 2px
    .form-button-wrapper
        margin-top: $spacer-med
        display: flex
        justify-content: space-between
        align-items: center
        a
            text-decoration: none
            color: $color-accent-light
        a:focus, a:hover 
            color: $color-accent